html {
    height: 100%;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-family: 'Raleway', sans-serif;

}

header {
    text-align: center;
    font-size: 2rem;
    color: #46852a;
    padding: 20px 0;
    border-bottom: dashed 3px #46852a;
}

.main-nav {
    border-bottom: dashed 3px #46852a;
    padding: 12px 0;
}


.main-nav ul {
    padding: 0;
    margin: 0;
    /* color: #ffffff;
    background-color: rgb(37, 179, 37); */
    text-align: center;
}

.main-nav ul li {
    display: inline-flex;
    padding: 10px 12px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: border-bottom .1s ease;
    box-sizing: border-box;
    height: 50px;
}

.main-nav ul li:hover {
    border-bottom: solid 3px #46852a;

}

main {
    padding: 50px 0;
    max-width: 1200px;
    /* border: solid 1px #000000; */
    margin: 0 auto;
    height: 500px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.inp {
    border: dashed 3px #46852a;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 10px;
}

input[type="text"] {
    padding: 5px 10px;
    font-size: 20px;
}

.out {
    border: dashed 3px #46852a;
    min-height: 100%;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

table{
    text-align: left;
    margin: 0 auto;
}

table td{
    padding: 5px;
    border: solid 1px #000000;
    min-width: 140px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    color: #46852a;
}